# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Data (FICO license does not permit redistribution)
data/.Rhistory
